appdirs==1.4.3
CoffeeScript==2.0.3
Django==2.1.5
django-appconf==1.0.2
django-braces==1.4.0
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-extensions==2.1.4
django-model-utils==3.1.2
django-pipeline==1.6.14
django-static-precompiler==1.8.2
django-suit==0.2.26
django-tinymce==2.8.0
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
docutils==0.14
drf-generators==0.3.0
futures==3.1.1
gevent==1.4.0
gnureadline==6.3.8
greenlet==0.4.15
html5lib==1.0.1
httpretty==0.9.6
ipaddress==1.0.22
ipython==7.2.0
iso3166==0.9
Jinja2==2.10
jsonfield==2.0.2
logutils==0.3.5
lxml==4.3.0
MarkupSafe==1.1.0
packaging==18.0
pdfcrowd==4.4.1
pdfkit==0.6.1
Pillow==5.4.1
pinax-stripe==4.4.0
#pisa==3.0.33 Not supported by python3 PLEASE SWITCH TO THE MORE RECENT VERSION AT: http://pypi.python.org/pypi/xhtml2pdf
#psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
PyExecJS==1.5.1
Pygments==2.3.1
PyJWT==1.7.1
pyparsing==2.3.1
PyPDF2==1.26.0
pytz==2018.9
reportlab==3.5.13
requests==2.21.0
requirements==0.1
schwifty==2018.9.1
signaturit_sdk==1.1.0
six==1.12.0
Sphinx==1.8.3
sphinx_rtd_theme==0.4.2
sqlparse==0.2.4
stripe==2.18.0
# uWSGI==2.0.4
xhtml2pdf==0.2.3
