{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<link rel="stylesheet" href=" {% static 'css/pdf/style-bill-pdf.css' %}" media="all" />--->
    <link rel="stylesheet" href="/static/css/pdf/style-bill-pdf.css" media="all" />
    <style type="text/css">
          body{
            font-size: 12px;
          }
          .small{
            font-size: 11px;
          }
          @page {
            size: A4;
            margin: 1cm;
            margin-top: 1.72cm;
            background-image: url({% static 'img/contract.png' %});
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 9cm;
                height: 1cm;
                font-family: "Microsoft JhengHei";
            }
        }
    </style>
  </head>
  <body>
    <header>
    </header>
    <main>
      <table>
        <tr>
          <td width="63%" align="right">{{ linea.id_mobilsclients }}</td>
          <td width="22%" align="right">{{ date.day }}/{{date.monthNumber}}/{{date.year}}</td>
          <td width="15%"></td>
        </tr>
      </table>
      <table style="margin-top:0.65cm;">
        <tr>
          <td width="22%" align="right">{% if linea.origen == 0 %}X{% endif %}</td>
          <td width="18%" align="right"><!-- X --></td>
          <td width="28%" align="right">{% if linea.origen == 1 %}X{% endif %}</td>
          <td width="32%"></td>
        </tr>
      </table>
      <table style="margin-top:3.05cm;">
        <tr>
          <td width="8%" align="right" >{% if cliente.tipo_cliente == 0 %}X{% endif %}</td>
          <td width="15%" align="right">{% if cliente.tipo_cliente == 5 %}X{% endif %}</td>
          <td width="14%" align="right">{% if cliente.tipo_cliente == 1 %}X{% endif %}</td>
          <td width="14%" align="right">{% if cliente.tipo_cliente == 2 %}X{% endif %}</td>
          <td width="29%"></td>
          <td width="22%" align="left">
            {% if cliente.tipo_cliente == 1 %}
              {{ linea.coddir.cifnif }}
            {% else %}
              {{ cliente.cifnif }}
            {% endif %}
          </td>
        </tr>
      </table>
      <table style="margin-top:0.1cm;">
        <tr>
          <td width="30%" align="right"></td>
          <td width="52%" align="left">
            {% if cliente.tipo_cliente != 1 %}
              {{ cliente.apellido }}
            {% else %}
              {{ cliente.nombrecomercial }}
            {% endif %}
          </td>
          <td width="23%" align="left">
            {% if cliente.tipo_cliente != 1 %}
              {{ cliente.nombre }}
            {% endif %}
          </td>
        </tr>
      </table>
      <table style="margin-top:0.09cm;" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="21%" align="right"></td>
          <td width="23%" align="left">{{ cliente.birthday_omv }}</td>
          <td width="13%" align="left">{% if cliente.genero == 'H' %}X{% endif %}</td>
          <td width="10%" align="left">{% if cliente.genero == 'M' %}X{% endif %}</td>
          <td width="17%" align="left"></td>
          <td width="16%" align="left">{{ direccion.idprovincia.codpais.nombre }}</td>
        </tr>
      </table>
      <table style="margin-top:0.06cm;" cellspacing="0" cellpadding="0" border="0" class="small">
        <tr>
          <td width="13%" align="right"></td>
          <td colspan="3" align="left">{{ direccion.direccion }}</td>
        </tr>
          <tr>
            <td width="13%" align="right"></td>
            <td width="48%" align="left">{{ direccion.ciudad }}</td>
            <td width="25%" align="left">{{ direccion.idprovincia.provincia }}</td>
            <td width="14%" align="left">{{ direccion.codpostal }}</td>
          </tr>
      </table>
      <table cellspacing="0" cellpadding="0" border="0" class="small">
          <tr>
            <td width="13%" align="right"></td>
            <td width="36%" align="left">{{ cliente.telefono }}</td>
            <td width="22%" align="left"><!-- 962294055 (no tenemos este campo) --></td>
            <td width="29%" align="left">{{ cliente.email }}</td>
          </tr>
      </table>
      <table style="margin-top:0.52cm;" cellspacing="0" cellpadding="0" border="0" class="small">
        <tr>
          <td width="14%" align="right"></td>
          <td align="left" width="86%">
            {% if cliente.tipo_cliente == 1 %}
              {{ cliente.nombre }} {{ cliente.apellido }} {{ cliente.segundo_apellido }}
            {% else %}
              &nbsp;
            {% endif %}
          </td>
        </tr>
      </table>
      <table style="margin-top:0.1cm;">
        <tr>
          <td width="33%" align="right">{% if cliente.tipo_cliente == 1 and cliente.tipo_documento == 0 %}X{% endif %}</td>
          <td width="10%" align="right">{% if cliente.tipo_cliente == 1 and cliente.tipo_documento == 1 %}X{% endif %}</td>
          <td width="9%" align="right">{% if cliente.tipo_cliente == 1 and cliente.tipo_documento == 2 %}X{% endif %}</td>
          <td width="18%"></td>
          <td width="24%" align="left">{% if cliente.tipo_cliente == 1 %}{{ cliente.cifnif }}{% else %}&nbsp;{% endif %}</td>
        </tr>
      </table>
      <table style="margin-top:0.69cm;">
        <tr>
          <td width="16%" align="right"></td>
          <td width="46%" align="left">{{ linea.mobil }}</td>
          <td width="38%" align="left">{{ linea.nuevoicc }}</td>
        </tr>
      </table>
      <table style="margin-top:0.1cm;">
        <tr>
          <td width="10%" align="right"></td>
          <td width="90%" align="left">{{ linea.codtarifa.nombretarifa }}</td>
        </tr>
      </table>
      <table style="margin-top:3.4cm;">
        <tr>
          <td width="35%" align="right"></td>
          <td width="65%" align="left">0</td>
        </tr>
      </table>
      <table style="margin-top:1.85cm;">
        <tr>
          <td width="4%" align="right"></td>
          <td width="96%" align="left">{{ cuenta.titular }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td width="20%" align="center">{{ cuenta.codiban }}</td>
          <td width="10%" align="center">{{ cuenta.ctaentidad }}</td>
          <td width="17%" align="center">{{ cuenta.ctaagencia }}</td>
          <td width="10%" align="center">{{ cuenta.ctadc }}</td>
          <td width="43%" align="center">{{ cuenta.cuenta }}</td>
        </tr>
      </table>
    </main>
    <footer>

    </footer>
  </body>
</html>
